* {
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  padding: 50px 20px;
}
#main_heading {
  text-align: center;
  padding-bottom: 30px;
}
.user-input {
  width: 250px;
  padding: 5px 3px;
}
.suggestions-list {
  list-style: none;
  padding: 0;
  max-height: 300px;
  overflow-y: auto;
  width: 250px;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
  position: absolute;
  top: 30px;
}
.suggestions-list::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.suggestion {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  color: rgb(65, 65, 65);
  cursor: pointer;
}
.suggestion:hover {
  background-color: rgb(148, 44, 44);
  color: rgb(238, 223, 223);
}
/* .selected {
  background-color: rgb(148, 44, 44);
  color: rgb(238, 223, 223);
} */
.input_box {
  width: 100vw;
  position: relative;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}
